.header{
    position: relative;
    width:390px;
    height:96px;
    background-color:white;

}

.header-logo{
    position: absolute;
    width: 84px;
    height: 50px;
    left: 25px;
    top: 23px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 0px;
    padding-bottom: 2px;
    color: #FF6B00;
    background-color: white;
}


.menu-btn {
    position: absolute;
    width: 20px;
    height: 15px;
    left: 338px;
    top: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color:(0, 0, 0, 0);
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 20px;
    border-radius: 3px;
    background-color: #C5C5C5;
    position: absolute;
}
.menu-btn span:before {
    bottom: 6px;
}
.menu-btn span:after {
    top: 6px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

.menu-content {
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #E5E5E5;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content {
    width: 100%;
    height: 300%;
    position: absolute;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #E5E5E5;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}

#menu-btn-check {
    display: none;
}